<%- include('includes/head.ejs') %>
    <%- include('includes/navigation_logout.ejs') %>

        <div class="container mt-3">
            <table class="tab-role table table-dark table-hover">

            </table>
            <a href="/api/role/create-role"><button class="btn btn-primary title-reservation">Ajouter un role</button></a>

        </div>


        <script src="/js/tab-role.js"></script>
        <%- include('includes/end.ejs') %>