<%- include('includes/head.ejs') %>
    <%- include('includes/navigation_logout.ejs') %>

        <div class="container mt-3">
            <table class="tab-use table table-dark table-hover">

            </table>
            <a href="/api/use/create"><button class="btn btn-primary title-reservation">Ajouter une utilisation</button></a>
            <a href="/api/use/delete-use"><button class="btn btn-danger title-reservation">Supprimer une utilisation</button></a>

        </div>


        <script src="/js/tab-use.js"></script>
        <%- include('includes/end.ejs') %>