/* CSS Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #445964;
    color: #000000;
    position: relative;
}

.tab-equipment {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto
}