<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Click Fablab</a>
        <ul class="navbar-nav  d-flex ">
            <li class="nav-item"><a class="nav-link" href="/api/user/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/user/login">Login</a></li>

        </ul>
    </div>
</nav>