<%- include('../../includes/head.ejs') %>


    <!--
        <table class="tab-equipment">

        </table>
        <a href="/api/user/reservation-equipment"><button class="btn btn-primary title-reservation">Réserver un équipement</button></a>

        -->
    <div class="sidenav">
        <a href="/api/user/user-panel">
            <h1>Click Fablab</h1>
        </a>
        <a href="/api/user/">Utilisateurs</a>
        <a href="/api/equipment/">Equipements</a>
        <a href="/api/use/">Utilisation</a>
        <a href="/api/role/">Role</a>
        <a href="/api/invoice/">Facturation</a>
        <form action="/api/user/logout" method="post">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>





    </div>

    <div class="main">

    </div>

